In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#load in data
df = pd.read_csv('new_train_EGN5442.csv')
df.head()

,Unnamed: 0,y,x2,x3,x5,x9,x10,x11,x12,x13,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,0,1,#54359,Female,50,5,5,5,4,3,...,21,12.0,D_C,Bt,1,(192&&),NaN,2.380952,4,50
1,1,1,#84649,Female,44,1,1,1,1,3,...,0,0.0,L_C,Bt,1,(1034&&),NaN,inf,4,44
2,2,0,#59015,Female,72,3,1,5,5,3,...,0,8.0,L_C,Bt,3,(1452&&),NaN,inf,4,72
3,3,0,#99990,Female,38,1,3,1,3,5,...,0,0.0,L_C,PT,3,(916&&),NaN,inf,4,38
4,4,1,#83569,Male,37,5,5,5,5,2,...,0,0.0,L_C,Bt,1,(390&&),NaN,inf,4,37

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104722 entries, 0 to 104721
Data columns (total 29 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  104722 non-null  int64
 1   y           104722 non-null  int64
 2   x2          104722 non-null  object
 3   x3          104722 non-null  object
 4   x5          104722 non-null  int64
 5   x9          104722 non-null  int64
 6   x10         104722 non-null  int64
 7   x11         104722 non-null  int64
 8   x12         104722 non-null  int64
 9   x13         104722 non-null  int64
 10  x14         104722 non-null  object
 11  x15         104722 non-null  int64
 12  x16         104722 non-null  int64
 13  x17         104722 non-null  int64
 14  x18         104722 non-null  int64
 15  x19         104722 non-null  int64
 16  x20         104722 non-null  int64
 17  x21         104722 non-null  int64
 18  x22         104722 non-null  int64
 19  x23         104722 non-null  int64
 20  x24         104410 non-null  float64
 21  x25         104722 non-null  object
 22  x26         104722 non-null  object
 23  x28         104722 non-null  int64
 24  x29         104722 non-null  object
 25  x30         0 non-null       float64
 26  x31         104722 non-null  float64
 27  x4          104722 non-null  int64
 28  x6          104722 non-null  int64
dtypes: float64(3), int64(20), object(6)
memory usage: 23.2+ MB

In [4]:
df.describe(), df.nunique()

/Applications/anaconda3/envs/sportsenv/lib/python3.12/site-packages/numpy/lib/function_base.py:4655: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

(          Unnamed: 0              y             x5             x9  \
 count  104722.000000  104722.000000  104722.000000  104722.000000
 mean    52360.500000       0.431380      39.189273       2.728892
 std     30230.781782       0.495271      15.208026       1.326905
 min         0.000000       0.000000       7.000000       0.000000
 25%     26180.250000       0.000000      27.000000       2.000000
 50%     52360.500000       0.000000      40.000000       3.000000
 75%     78540.750000       1.000000      51.000000       4.000000
 max    104721.000000       1.000000      85.000000       5.000000

                  x10            x11            x12            x13  \
 count  104722.000000  104722.000000  104722.000000  104722.000000
 mean        3.062986       2.755591       2.977187       3.201419
 std         1.525021       1.398492       1.277116       1.329776
 min         0.000000       0.000000       0.000000       0.000000
 25%         2.000000       2.000000       2.000000       2.000000
 50%         3.000000       3.000000       3.000000       3.000000
 75%         4.000000       4.000000       4.000000       4.000000
 max         5.000000       5.000000       5.000000       5.000000

                  x15            x16  ...            x20            x21  \
 count  104722.000000  104722.000000  ...  104722.000000  104722.000000
 mean        3.436317       3.356458  ...       3.303909       3.641088
 std         1.320007       1.333305  ...       1.265508       1.175039
 min         0.000000       0.000000  ...       0.000000       0.000000
 25%         2.000000       2.000000  ...       3.000000       3.000000
 50%         4.000000       4.000000  ...       3.000000       4.000000
 75%         5.000000       4.000000  ...       4.000000       5.000000
 max         5.000000       5.000000  ...       5.000000       5.000000

                  x22            x23            x24            x28  x30  \
 count  104722.000000  104722.000000  104410.000000  104722.000000  0.0
 mean        3.285155      14.818405      15.188909       1.976089  NaN
 std         1.312749      38.305687      38.785838       0.962887  NaN
 min         0.000000       0.000000       0.000000       1.000000  NaN
 25%         2.000000       0.000000       0.000000       1.000000  NaN
 50%         3.000000       0.000000       0.000000       2.000000  NaN
 75%         4.000000      12.000000      13.000000       3.000000  NaN
 max         5.000000    1592.000000    1584.000000       3.000000  NaN

                 x31        x4             x6
 count  1.047220e+05  104722.0  104722.000000
 mean            inf       4.0      39.189273
 std             NaN       0.0      15.208026
 min    9.668508e-03       4.0       7.000000
 25%    3.000000e+00       4.0      27.000000
 50%             NaN       4.0      40.000000
 75%             NaN       4.0      51.000000
 max             inf       4.0      85.000000

 [8 rows x 23 columns],
 Unnamed: 0    104722
 y                  2
 x2            103904
 x3                 2
 x5                75
 x9                 6
 x10                6
 x11                6
 x12                6
 x13                6
 x14                6
 x15                6
 x16                6
 x17                6
 x18                6
 x19                5
 x20                6
 x21                6
 x22                6
 x23              446
 x24              455
 x25                2
 x26                2
 x28                3
 x29             3802
 x30                0
 x31             5541
 x4                 1
 x6                75
 dtype: int64)

In [5]:
#We need to remove the unnamed column (the first one), which is just an index
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,1,#54359,Female,50,5,5,5,4,3,5,...,21,12.0,D_C,Bt,1,(192&&),NaN,2.380952,4,50
1,1,#84649,Female,44,1,1,1,1,3,3,...,0,0.0,L_C,Bt,1,(1034&&),NaN,inf,4,44
2,0,#59015,Female,72,3,1,5,5,3,2,...,0,8.0,L_C,Bt,3,(1452&&),NaN,inf,4,72
3,0,#99990,Female,38,1,3,1,3,5,1,...,0,0.0,L_C,PT,3,(916&&),NaN,inf,4,38
4,1,#83569,Male,37,5,5,5,5,2,5,...,0,0.0,L_C,Bt,1,(390&&),NaN,inf,4,37

In [6]:
#there are a lot of values that haev strings involved with numbers, lets strip those and make them into just numbers. 
#This is x2, x29
#x2 has the format of #123 when it should just be 123
#x29 has the format (123&&) when it shoudl jsut be 123
df['x2'] = df['x2'].str.replace('#','').astype(float)
df['x29'] = df['x29'].str.extract(r'\((\d+)&&\)').astype(float)
df.head()

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,1,54359.0,Female,50,5,5,5,4,3,5,...,21,12.0,D_C,Bt,1,192.0,NaN,2.380952,4,50
1,1,84649.0,Female,44,1,1,1,1,3,3,...,0,0.0,L_C,Bt,1,1034.0,NaN,inf,4,44
2,0,59015.0,Female,72,3,1,5,5,3,2,...,0,8.0,L_C,Bt,3,1452.0,NaN,inf,4,72
3,0,99990.0,Female,38,1,3,1,3,5,1,...,0,0.0,L_C,PT,3,916.0,NaN,inf,4,38
4,1,83569.0,Male,37,5,5,5,5,2,5,...,0,0.0,L_C,Bt,1,390.0,NaN,inf,4,37

In [7]:
#convert x3 to 0 and 1. If Female, then 0, if Male, then 1
df['x3'] = df['x3'].map({'Female':0, 'Male':1})
df.head()

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,21,12.0,D_C,Bt,1,192.0,NaN,2.380952,4,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,0,0.0,L_C,Bt,1,1034.0,NaN,inf,4,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,0,8.0,L_C,Bt,3,1452.0,NaN,inf,4,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,0,0.0,L_C,PT,3,916.0,NaN,inf,4,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,0,0.0,L_C,Bt,1,390.0,NaN,inf,4,37

In [8]:
#Lets see how many unique values are in the x25 column
df['x25'].nunique(), df['x25'].unique()
#Set D_C to 0, and L_C to 1
df['x25'] = df['x25'].map({'D_C':0, 'L_C':1})
df.head()

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,21,12.0,0,Bt,1,192.0,NaN,2.380952,4,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,0,0.0,1,Bt,1,1034.0,NaN,inf,4,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,0,8.0,1,Bt,3,1452.0,NaN,inf,4,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,0,0.0,1,PT,3,916.0,NaN,inf,4,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,0,0.0,1,Bt,1,390.0,NaN,inf,4,37

In [9]:
#Now do the same check for x26
df['x26'].nunique(), df['x26'].unique()
# Set Bt to 0, PT to 1
df['x26'] = df['x26'].map({'Bt':0, 'PT':1})
df.head()

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x23,x24,x25,x26,x28,x29,x30,x31,x4,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,21,12.0,0,0,1,192.0,NaN,2.380952,4,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,0,0.0,1,0,1,1034.0,NaN,inf,4,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,0,8.0,1,0,3,1452.0,NaN,inf,4,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,0,0.0,1,1,3,916.0,NaN,inf,4,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,0,0.0,1,0,1,390.0,NaN,inf,4,37

In [10]:
#Is the x30 column all empty?
print(df['x30'].isnull().sum(), len(df['x30']))
#Yes, so we can drop it
df.drop(columns=['x30'], inplace=True)
df.head()

104722 104722

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x22,x23,x24,x25,x26,x28,x29,x31,x4,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,3,21,12.0,0,0,1,192.0,2.380952,4,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,2,0,0.0,1,0,1,1034.0,inf,4,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,2,0,8.0,1,0,3,1452.0,inf,4,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,5,0,0.0,1,1,3,916.0,inf,4,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,5,0,0.0,1,0,1,390.0,inf,4,37

In [11]:
#x4 is all one number, so we can drop it
print(df['x4'].nunique(), df['x4'].unique())
df.drop(columns=['x4'], inplace=True)
df.head()

1 [4]

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x21,x22,x23,x24,x25,x26,x28,x29,x31,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,4,3,21,12.0,0,0,1,192.0,2.380952,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,4,2,0,0.0,1,0,1,1034.0,inf,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,3,2,0,8.0,1,0,3,1452.0,inf,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,4,5,0,0.0,1,1,3,916.0,inf,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,4,5,0,0.0,1,0,1,390.0,inf,37

In [12]:
# it is really really difficult to know the best way to handle the inf values in x31 wihtout any understanding of the dataset. SO lets convert to NaN and see how much data is missing
df['x31'] = df['x31'].replace([np.inf, -np.inf], np.nan)
print(df['x31'].isnull().sum()/len(df['x31']) * 100, "% of data is missing in x31")

#Since over half of the data is missing in x31, we will drop this column
df.drop(columns=['x31'], inplace=True)
df.head()

56.45041156586008 % of data is missing in x31

,y,x2,x3,x5,x9,x10,x11,x12,x13,x14,...,x20,x21,x22,x23,x24,x25,x26,x28,x29,x6
0,1,54359.0,0,50,5,5,5,4,3,5,...,3,4,3,21,12.0,0,0,1,192.0,50
1,1,84649.0,0,44,1,1,1,1,3,3,...,4,4,2,0,0.0,1,0,1,1034.0,44
2,0,59015.0,0,72,3,1,5,5,3,2,...,1,3,2,0,8.0,1,0,3,1452.0,72
3,0,99990.0,0,38,1,3,1,3,5,1,...,1,4,5,0,0.0,1,1,3,916.0,38
4,1,83569.0,1,37,5,5,5,5,2,5,...,4,4,5,0,0.0,1,0,1,390.0,37

In [13]:
#now lets see if there are any missing values in the dataset, there are only msising values in x24
print( df.isnull().sum() )
#drop rows with missing values
df.dropna(inplace=True)
print( df.isnull().sum() )

y        0
x2       0
x3       0
x5       0
x9       0
x10      0
x11      0
x12      0
x13      0
x14      0
x15      0
x16      0
x17      0
x18      0
x19      0
x20      0
x21      0
x22      0
x23      0
x24    312
x25      0
x26      0
x28      0
x29      0
x6       0
dtype: int64
y      0
x2     0
x3     0
x5     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
x16    0
x17    0
x18    0
x19    0
x20    0
x21    0
x22    0
x23    0
x24    0
x25    0
x26    0
x28    0
x29    0
x6     0
dtype: int64

In [14]:
df.info(), df.describe(), df.nunique()

<class 'pandas.core.frame.DataFrame'>
Index: 104410 entries, 0 to 104721
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   y       104410 non-null  int64
 1   x2      104410 non-null  float64
 2   x3      104410 non-null  int64
 3   x5      104410 non-null  int64
 4   x9      104410 non-null  int64
 5   x10     104410 non-null  int64
 6   x11     104410 non-null  int64
 7   x12     104410 non-null  int64
 8   x13     104410 non-null  int64
 9   x14     104410 non-null  object
 10  x15     104410 non-null  int64
 11  x16     104410 non-null  int64
 12  x17     104410 non-null  int64
 13  x18     104410 non-null  int64
 14  x19     104410 non-null  int64
 15  x20     104410 non-null  int64
 16  x21     104410 non-null  int64
 17  x22     104410 non-null  int64
 18  x23     104410 non-null  int64
 19  x24     104410 non-null  float64
 20  x25     104410 non-null  int64
 21  x26     104410 non-null  int64
 22  x28     104410 non-null  int64
 23  x29     104410 non-null  float64
 24  x6      104410 non-null  int64
dtypes: float64(3), int64(21), object(1)
memory usage: 20.7+ MB

(None,
                    y             x2             x3             x5  \
 count  104410.000000  104410.000000  104410.000000  104410.000000
 mean        0.431443   51954.151164       0.492491      39.189924
 std         0.495280   29995.970858       0.499946      15.206272
 min         0.000000       0.000000       0.000000       7.000000
 25%         0.000000   25962.250000       0.000000      27.000000
 50%         0.000000   51955.500000       0.000000      40.000000
 75%         1.000000   77931.750000       1.000000      51.000000
 max         1.000000  103903.000000       1.000000      85.000000

                   x9            x10            x11            x12  \
 count  104410.000000  104410.000000  104410.000000  104410.000000
 mean        2.728953       3.062781       2.755665       2.977320
 std         1.326951       1.525167       1.398508       1.277223
 min         0.000000       0.000000       0.000000       0.000000
 25%         2.000000       2.000000       2.000000       2.000000
 50%         3.000000       3.000000       3.000000       3.000000
 75%         4.000000       4.000000       4.000000       4.000000
 max         5.000000       5.000000       5.000000       5.000000

                  x13            x15  ...            x20            x21  \
 count  104410.000000  104410.000000  ...  104410.000000  104410.000000
 mean        3.201408       3.436673  ...       3.303936       3.641442
 std         1.329642       1.319817  ...       1.265518       1.174959
 min         0.000000       0.000000  ...       0.000000       0.000000
 25%         2.000000       2.000000  ...       3.000000       3.000000
 50%         3.000000       4.000000  ...       3.000000       4.000000
 75%         4.000000       5.000000  ...       4.000000       5.000000
 max         5.000000       5.000000  ...       5.000000       5.000000

                  x22            x23            x24            x25  \
 count  104410.000000  104410.000000  104410.000000  104410.000000
 mean        3.285193      14.751049      15.188909       0.817297
 std         1.312668      38.193081      38.785838       0.386425
 min         0.000000       0.000000       0.000000       0.000000
 25%         2.000000       0.000000       0.000000       1.000000
 50%         3.000000       0.000000       0.000000       1.000000
 75%         4.000000      12.000000      13.000000       1.000000
 max         5.000000    1592.000000    1584.000000       1.000000

                  x26            x28            x29             x6
 count  104410.000000  104410.000000  104410.000000  104410.000000
 mean        0.312949       1.975807    1187.324270      39.189924
 std         0.463696       0.962897     995.924046      15.206272
 min         0.000000       1.000000      31.000000       7.000000
 25%         0.000000       1.000000     414.000000      27.000000
 50%         0.000000       2.000000     842.000000      40.000000
 75%         1.000000       3.000000    1739.000000      51.000000
 max         1.000000       3.000000    4983.000000      85.000000

 [8 rows x 24 columns],
 y           2
 x2     103594
 x3          2
 x5         75
 x9          6
 x10         6
 x11         6
 x12         6
 x13         6
 x14         6
 x15         6
 x16         6
 x17         6
 x18         6
 x19         5
 x20         6
 x21         6
 x22         6
 x23       445
 x24       455
 x25         2
 x26         2
 x28         3
 x29      3802
 x6         75
 dtype: int64)

In [15]:
#x14 is all strings for some reason, we need to change the datatypes to numeric
#Lets see what kind of strings are in there
print(df['x14'].unique())
#they are all numbers or " ", so we can just replace the " " with NaN and convert to float
df['x14'] = df['x14'].replace(' ', np.nan).astype(float)
#Now drop any rows with NaN in x14
df.dropna(subset=['x14'], inplace=True)
df.info()

['5' '3' '2' '1' ' ' '4']
<class 'pandas.core.frame.DataFrame'>
Index: 101947 entries, 0 to 104721
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   y       101947 non-null  int64
 1   x2      101947 non-null  float64
 2   x3      101947 non-null  int64
 3   x5      101947 non-null  int64
 4   x9      101947 non-null  int64
 5   x10     101947 non-null  int64
 6   x11     101947 non-null  int64
 7   x12     101947 non-null  int64
 8   x13     101947 non-null  int64
 9   x14     101947 non-null  float64
 10  x15     101947 non-null  int64
 11  x16     101947 non-null  int64
 12  x17     101947 non-null  int64
 13  x18     101947 non-null  int64
 14  x19     101947 non-null  int64
 15  x20     101947 non-null  int64
 16  x21     101947 non-null  int64
 17  x22     101947 non-null  int64
 18  x23     101947 non-null  int64
 19  x24     101947 non-null  float64
 20  x25     101947 non-null  int64
 21  x26     101947 non-null  int64
 22  x28     101947 non-null  int64
 23  x29     101947 non-null  float64
 24  x6      101947 non-null  int64
dtypes: float64(4), int64(21)
memory usage: 20.2 MB

In [16]:
#Now this data is cleaned! We can save it to a new csv
df.to_csv('cleaned_train_EGN5442.csv', index=False)